<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseType" value="XML"/>
		<add key="DeviationFormulaType" value="Apsolutno"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<services>
			<service name="Server.Connection">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000"/>
					</baseAddresses>
				</host>
				<endpoint address="IConnection" binding="netTcpBinding"
						  contract="Common.IConnection"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>